$square-size: 2em;
$background-color: #eee;

:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background-color;
}

$title-height: 80px;

.wordris-title {
    display: flex;

    width: fit-content;
    margin: 0px auto;
    height: $title-height;

    img {
        height: $title-height;
    }
    h1 {
        height: $title-height;
        line-height: $title-height;
        margin: 0;
        padding-left: .5em;
    }
}

.main-menu {
    position: relative;
    width: fit-content;
    margin: 0px auto;
    margin-top: 3em;

    border: 1px solid #888;
    border-radius: 5px;
    padding: 1em 2em;

    .main-menu-button {
        border: 1px solid #888;
        border-radius: 5px;
        padding: .5em;
        margin: .5em 0px;
        text-align: center;
        cursor: pointer;
    }
}

.game-mode {
    width: fit-content;
    margin: 0px auto;
    margin-top: 1em;
    font-weight: normal;
    font-size: 1.25em;
    transform: scale(1, 1.15);
    letter-spacing: .13em;
}

.wordris-gameboard {
    position: relative;
    width: fit-content;
    margin: 0px auto;
    margin-top: 1em;

    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;

    .bottom-label {
        width: fit-content;
        margin: 1em auto;
    }

    .wordris-letter-area {
        position: relative;
    }

    .score-display {
        width: fit-content;
    }

    .timer-display {
        position: absolute;
        right: 20px;
        top: 20px;

        .timer-fill {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background-color: rgba(40, 40, 226, .2);
        }
    }

    .pause-button {
        border: 1px solid #888;
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
        margin: 0px auto;
        cursor: pointer;
    }

    .paused {
        // background-color: $background-color;
        width: 100%;
        border: 1px solid #888;
        border-radius: 5px;
        height: 100%;
        position: absolute;
        z-index: 10;

        background: repeating-linear-gradient(
            45deg,
            $background-color,
            $background-color 10px,
            #d0d0d0 10px,
            #d0d0d0 20px
        );
    }

    .word-history {
        margin-top: 1em;
        padding: .25em .5em;
        background-color: #ddd;
        border: 1px solid #888;
        border-radius: 5px;
        color: #555;
        width: calc(7 * $square-size + 7 * 3px);

        .word-history-item {
            margin: .45em 0px;
        }
    }
}

.wordris-row.arrow-row {
    margin-top: .75em;
}

.wordris-row.choose-letters {
    position: relative;
    margin-top: .75em;
}

.wordris-square {
    display: inline-block;
    width: $square-size;
    height: $square-size;
    line-height: $square-size;
    vertical-align: middle;
    margin: 2px;
    text-align: center;
    position: relative;

    border: 1px solid $background-color;
    border-radius: 3px;

    &.with-border {
        border: 1px solid #888;
    }

    &.selected {
        border: 1px solid black;
        background-color: #555;
        color: #eee;
        font-weight: bold;

        .points {
            font-weight: normal;
            color: #bbb;
        }
    }

    .points {
        position: absolute;
        bottom: 3px;
        right: 1px;
        width: auto;
        height: auto;
        line-height: .5em;
        font-size: smaller;
        color: #666;
    }
}

div.found-word-circle {
    border: 1px solid rgb(40, 40, 226);
    border-radius: 8px;
    background-color: rgba(40, 40, 226, .2);
    position: absolute;
    pointer-events: none;
}

.clickable {
    cursor: pointer;
}